<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Daniel McGraw" />
    <meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control"> 
    <meta content="no-cache" http-equiv="Pragma"> 
    <meta content="0" http-equiv="Expires"> 
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <header>
      <img src="/images/zombeer.png" />
    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
